<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhangheng.myapplication">
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 如果您的应用需要后台定位权限，且有可能运行在Android Q设备上,并且设置了target>28，必须增加这个权限声明 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读取内存信息 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 如果设置了target >= 28 如果需要启动后台定位则必须声明这个权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Main27Activity"
            android:label="ChatGPT"
            ></activity>
        <activity
            android:name=".activity.Main26Activity"
            android:label="文字转语音" />
        <activity android:name=".activity.Main25Activity" />
        <activity
            android:name=".activity.Main24Activity"
            android:label="小爱聊天" />
        <activity android:name=".activity.Main23Activity" />
        <activity android:name=".activity.Main22Activity" />
        <activity
            android:name=".activity.Main15Activity"
            android:label="每天60秒读懂世界" />
        <activity android:name=".activity.Main19_1Activity" />
        <activity
            android:name=".activity.Main14Activity"
            android:label="精选文案" />
        <activity android:name=".activity.Main13Activity" />
        <activity android:name=".activity.Main12Activity" />
        <activity android:name=".activity.SettingActivity" />
        <activity
            android:name=".activity.Main21Activity"
            android:label="疫情数据" />
        <activity
            android:name=".activity.Main20Activity"
            android:label="翻译" />
        <activity
            android:name=".activity.Main19Activity"
            android:label="影视搜索" />
        <activity android:name=".activity.Main18Activity" />
        <activity
            android:name=".activity.Main17Activity"
            android:label="手机扫码" />
        <activity android:name=".activity.Main16Activity" />
        <activity android:name=".activity.Test1Activity" /> <!-- 调整二维码扫描界面为竖屏 -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity android:name=".activity.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.amap.api.location.APSService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zhangheng.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/key_gaode" />

        <activity
            android:name=".activity.Main11Activity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.Main10Activity_2"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.Main10Activity_1"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.Main10Activity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.Main9Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="新华字典" />
        <activity
            android:name=".activity.Main8Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="二维码生成" />
        <activity
            android:name=".activity.Main7Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="天气查询" />
        <activity
            android:name=".activity.Main6Activity"
            android:label="图片加载" />
        <activity
            android:name=".activity.Main5Activity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Main4Activity"
            android:label="文件下载" />
        <activity
            android:name=".activity.Main3Activity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Main2Activity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>